<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-top-bar">
      <div class="cs-top-container">
          <a href="/" class="cs-logo cs-top-logo" aria-label="Click and Mortar home">
              <img class="cs-default" src="/assets/svgs/clickmortarlogo.svg" alt="Click and Mortar" width="197" aria-hidden="true" decoding="async">
              <img class="cs-onscroll" src="/assets/svgs/clickmortarlogo.svg" alt="Click and Mortar" width="197" aria-hidden="true" decoding="async">
          </a>
          <div class="cs-top-contact">
              <span class="cs-top-link">Local growth for Western Colorado businesses</span>
          </div>
          <a href="/contact/" class="cs-button-solid cs-nav-button">Free Visibility Check</a>
      </div>
  </div>
  <div class="cs-container">
      <a href="/" class="cs-logo cs-bottom-logo" aria-label="Click and Mortar home">
          <img class="cs-default" src="/assets/svgs/clickmortarlogo.svg" alt="Click and Mortar" width="197" height="43" aria-hidden="true" decoding="async">
          <img class="cs-onscroll" src="/assets/svgs/clickmortarlogo.svg" alt="Click and Mortar" width="197" height="43" aria-hidden="true" decoding="async">
      </a>
      <nav class="cs-nav">
          <button class="cs-toggle" aria-label="mobile menu toggle">
              <div class="cs-box" aria-hidden="true">
                  <span class="cs-line cs-line1" aria-hidden="true"></span>
                  <span class="cs-line cs-line2" aria-hidden="true"></span>
                  <span class="cs-line cs-line3" aria-hidden="true"></span>
              </div>
          </button>
          <div class="cs-ul-wrapper">
              <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                  <li class="cs-li">
                      <a href="/" class="cs-li-link {{ 'cs-active' if '' == page.fileSlug }}">Home</a>
                  </li>
                  <li class="cs-li">
                      <a href="/services/" class="cs-li-link {{ 'cs-active' if 'services' == page.fileSlug }}">Services</a>
                  </li>
                  <li class="cs-li">
                      <a href="/about/" class="cs-li-link {{ 'cs-active' if 'about' == page.fileSlug }}">About</a>
                  </li>
                  <li class="cs-li">
                      <a href="/faq/" class="cs-li-link {{ 'cs-active' if 'faq' == page.fileSlug }}">FAQ</a>
                  </li>
                  <li class="cs-li">
                      <a href="/contact/" class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}">Contact</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>
