---
title: 'About Click & Mortar'
description: 'Click & Mortar is a Grand Junction-based local growth company helping Western Colorado businesses improve visibility, reviews, websites, and customer conversion.'
preloadImg: '/assets/images/hero.webp'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
    </div>
    <picture class="cs-background" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="" width="1280" height="568">
    </picture>
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="#F5F5F5"/>
    </svg>
</div>

<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/people10.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/people10.webp">
                <img loading="lazy" decoding="async" src="/assets/images/people10.webp" alt="local business team" width="605" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/gear-white.svg" alt="" width="60" height="60" aria-hidden="true">
                <span class="cs-desc">Based in Grand Junction, Colorado</span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Click & Mortar</span>
            <h2 class="cs-title">Small-business growth should be practical, measurable, and understandable.</h2>
            <p class="cs-text">
                Click & Mortar was built from a background in web design and development, but the mission is bigger than building websites. A local business can have a beautiful site and still be difficult to find, short on reviews, or unclear to customers who are ready to buy.
            </p>
            <p class="cs-text">
                Today, the focus is helping Western Colorado businesses strengthen the entire path from local search to customer action: how you appear on Google, what people see when they compare you, how your website communicates, and how easy it is to contact you.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="" width="24" height="24">
                    Local-first strategy for Western Colorado businesses
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="" width="24" height="24">
                    Google presence, reviews, websites, and conversion
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="" width="24" height="24">
                    Clear priorities instead of bloated marketing packages
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="" width="24" height="24">
                    Hands-on support from a local owner
                </li>
            </ul>
            <a href="/contact/" class="cs-button-solid">Get a Free Visibility Check</a>
        </div>
    </div>
</section>

{% include 'components/cta.html' %}
{% endblock %}
