---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="#F5F5F5"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/people10.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/people10.webp">
                <img loading="lazy" decoding="async" src="/assets/images/people10.webp" alt="people" width="605868" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/gear-white.svg" alt="gear" width="60" height="60">
                <span class="cs-desc">
                    With Over 6 Years of Experience
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About</span>
            <h2 class="cs-title">Click and Mortar Web Designs</h2>
            <p class="cs-text">
                I'm Alex G, the owner, and sole developer behind Click and Mortar Web Designs. My journey into programming began in 2017 when I discovered a fascination with the visual appeal and structural intricacies of websites. This newfound passion led me to the realization that many small businesses seek a modern, up-to-date web presence but often find themselves constrained by the hefty fees of traditional web design agencies, which can range from $5,000 to $10,000. Unfortunately, these agencies often build custom designs using page builders that generate excessive and unnecessary code, resulting in sluggish page load times.
            <p class="cs-text">
                Recognizing this gap, I am committed to providing a more accessible solution. I offer a straightforward pricing model—$3,000 flat, divided into two manageable payments: half upfront and the remaining half upon completion. This approach ensures that businesses receive a professionally designed website without the financial burden often associated with larger agencies. 
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    Mobile-First Approach - Responsive Designs for Every Device
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    Fast Page Speed - Pass Google's Speed Test Within 98 to 100.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    Pixel Perfect Designs - Every Website is Hand Designed for Your Niche
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    SEO - Drive Traffic and Increase Visibility
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    Accessible Design - Accessible to all users, including those with disabilities.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/black-check.svg" alt="checkmark" width="24" height="24">
                    Dedicated Support - Ensure your website remains up-to-date, secure, and operates smoothly.
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid" aria-label="Let's build a website">Let's Build a Website</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                   Process                   -->
<!-- ============================================ -->

<section id="services-1290">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">How It Works</h2>
            </div>
            <p class="cs-text">
                We can help you design your project and develop a comprehensive plan to ensure that it meets your
                specific needs and requirements. We'll work closely with you nd your team to
                create a design that is both functional and aesthetically pleasing.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/construction-book.png">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/construction-book.png">
                        <img loading="lazy" decoding="async"
                            src="/assets/images/construction-book.png"
                            alt="consulatation notes" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">01</span>
                        Consultation
                    </h3>
                    <p class="cs-item-text">
                        We will meet with you and your team to determine what we want to convey as far as brand, and the websites look and feel.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/wireframe.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/wireframe.jpg">
                        <img loading="lazy" decoding="async"
                            src="/assets/images/wireframe.jpg"
                            alt="wireframe design" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">02</span>
                        Design
                    </h3>
                    <p class="cs-item-text">
                        After the initial meeting, we'll get to work right away designing your company's website.  
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/faq" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/code.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/code.jpg">
                        <img loading="lazy" decoding="async"
                            src="/assets/images/code.jpg"
                            alt="computer code" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">03</span>
                        Development
                    </h3>
                    <p class="cs-item-text">
                        Once we've made sure you're happy with the design, the coding and development begins.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/launch.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/launch.jpg">
                        <img loading="lazy" decoding="async"
                            src="/assets/images/launch.jpg"
                            alt="variety of devices" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">04</span>
                        Launch
                    </h3>
                    <p class="cs-item-text">
                        Finally, after any edits are made, your website is launched and your brand's online precence is boosted for success!
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}