---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: 'Services/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/hero-small.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="#ececec"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Empowering Small Businesses for Digital Success</h2>
            <p class="cs-text">We are dedicated to propelling small businesses into the digital. From visually stunning websites to seamless user experiences, we understand the unique needs of small enterprises. Our commitment extends beyond design — we optimize for search engines, ensuring your business not only looks great but significantly boosts its online presence, making it easily discoverable by your target audience.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-layers.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Web Development</h3>
                <p class="cs-item-text">Crafting dynamic and functional websites that seamlessly translate your brand story into an immersive online experience.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-media.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Responsive Web Design</h3>
                <p class="cs-item-text">Ensuring your website looks and performs flawlessly across all devices, providing a consistent and engaging user experience.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-alert.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">SEO</h3>
                <p class="cs-item-text">Elevating your online visibility and driving organic traffic through strategic search engine optimization.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-meter.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Fast Load Times</h3>
                <p class="cs-item-text">Delivering lightning-fast load times to keep your audience engaged and ensuring your website ranks highly on Google.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-design.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Accessibility Optimization</h3>
                <p class="cs-item-text">Ensuring inclusivity by optimizing your website for accessibility standards, making it user-friendly for all visitors.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/agency-image.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Maintenance & Support</h3>
                <p class="cs-item-text">Providing dedicated support and proactive maintenance to keep your website secure, updated, and performing at its best over time.</p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Small Business Success Plans: Affordable and Effective</h2>
            <p class="cs-text">
                Unlock the power of a robust online presence without breaking the bank. Our pricing is designed with small businesses in mind, offering a comprehensive web solution at a budget-friendly, all-inclusive rate. No hidden fees, no surprises—just straightforward pricing for your success in the digital realm.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">5-Page Website</span>
                    <span class="cs-price">
                        $3,000
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Custom Domain</li>
                        <li class="cs-li">Unique Designs</li>
                        <li class="cs-li">Outstanding Support</li>
                        <li class="cs-li">and more!</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">Get Started</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Lifetime Hosting</span>
                    <span class="cs-price">
                        $0
                        <span class="cs-duration"> Forever</span>
                    </span>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Built-in Speed</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li">Included!</li>
                    </ul>
                    <a href="/about" class="cs-button-transparent" aria-label="Read more">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-316">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/agency-meter-purple.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">99%</span>
                <span class="cs-desc">Page Load Speed</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/brackets.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">9,000+</span>
                <span class="cs-desc">Lines Coded</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/award.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">100%</span>
                <span class="cs-desc">Satisfaction</span>
            </div>
        </li>
    </ul>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                Ready to transform your online presence? Reach out and let's kickstart the journey to creating a website that not only meets but exceeds your expectations. Contact us today, and let the collaboration begin.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:970-814-6993
                        " class="cs-link">+1 (970) 814 6993
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:alexg@clickmortar.app" class="cs-link">alexg@clickmortar.app</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post" netlify>
            <h3 class="cs-h3">Make Appointment</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>



    {% include 'components/cta.html' %}

{% endblock %}